.select2-container--default .select2-selection--multiple .select2-selection__choice
{
    background-color: #00c0ef!important;
    border: 1px solid #00c0ef!important;
}
.border-radius-30per {
	border-radius: 30%
}
.padding-left-10px {
	padding-left: 10px
}
.padding-top-10px
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-top-5px
{
    padding-top: 5px;
}
.indicator {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    position: absolute;
    opacity: .7;
    z-index: 1000;
}
.indicator .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    background: url(../../images/AjaxLoader.gif) no-repeat center;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.z-index-100 {
    z-index: 100;
}
#admin-sales-line-chart {
    height: 200px;
}
